@import url(https://fonts.googleapis.com/css?family=Rubik:regular,500,700&display-swap);
@import url(https://fonts.googleapis.com/css?family=Istok+Web:regular,700&display-swap);


*, *::before, *::after {
	margin: 0;
	padding: 0;
	border: none;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
img {
	vertical-align: top;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

html, body {
	height: 100%;
	min-width: 320px;
}

body {
	line-height: 1;
	font-family: Rubik;
	color: black;
}

.wrapper {
	overflow: hidden;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.main {
	flex: 1 1 auto;
}

[class*="__container"] {
	max-width: 738px;
	margin: 0 auto;
	padding: 0px 15px;
}

.header {
	margin-top: 19px;
	min-height: 59px;
}

.header__container {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.header__logo {

}

.header__search {
	display: flex;
	flex-direction: row;
	align-items: center;
	
	margin-left: 12px;
	margin-right: 14px;

	width: 264px;
	height: 40px;
	border: 1px solid #ccc;
	border-radius: 57.59px;
	border-color: black;

}

.search__icon {
	margin-left: 20px;
	margin-right: 3px;
}

.search__input {
	border: none;
	outline: none;

	font-family: 'Rubik';
	font-weight: 400;
	font-size: 18px;
	line-height: 0.5px;
	color: #000;
}

.header__buttons {
	display: flex;
	flex-direction: row;
}

.header__button {
	display: flex;
	flex: 0 0 140px;
	height: 40px;
	border: 1.5px solid #fdd446;
	border-radius: 20px;
	align-items: center;
	justify-content: center;
}

.button {
	font-family: 'Rubik';
	font-weight: 500;
	font-size: 18px;
	line-height: 0.5px;
	color: #000;
}

.login_button {
	margin-right: 10px;
}

.register_button {
}

.button-active {
	background-color: #fdd446;
}



.search-panel__container {
	margin-top: 49px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.filter {
	flex: 0 0 155px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 30px;
	border-radius: 10px;
	border: 1px solid #000;
}

.filter__button {
	flex: 0 0 135px;
	padding: 3px 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: white;

	font-family: 'Rubik';
	font-weight: 400;
	font-size: 18px;
	line-height: 0.5px;
	color: #000;
}

.search-panel__search {
	display: flex;
	flex-direction: row;
	align-items: center;
	
	margin: 0px 10px;

	width: 326px;
	height: 40px;
	border: 1px solid #ccc;
	border-radius: 57.59px;
	border-color: black;

}

.sort {
	flex: 0 0 207px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	border: 1px solid #000;
}

.sort__button {
	flex: 0 0 187px;
	padding: 3px 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: white;

	font-family: 'Rubik';
	font-weight: 400;
	font-size: 18px;
	line-height: 0.5px;
	color: #000;
}




.cards-gallery__container {
	margin-top: 30px;
}

.gallery__items {
	display: grid;
	grid-template-columns:repeat(3, 1fr);
	gap: 30px;
	max-width: 738px;
	margin: 0 auto;
}

.gallery__item {
	padding: 8px;
	/* flex: 0 1 33%; */
}

.item {
	height: 436px;
	border: 0.7px solid #ffc107;
	border-radius: 20px;
}

.item__image {

}

.item__title {
	margin: 6px 0px;
	font-family: 'Istok Web';
	font-weight: 700;
	font-size: 14px;
}

.profile {
	display: flex;
	flex-direction: row;
}

.item__profile {

}

.profile__image {
	margin-right: 6px;
}

.profile__info {
	display: flex;
	flex-direction: column;
}

.profile__name {
	font-family: 'Rubik';
	font-weight: 400;
	font-size: 14px;
}

.profile__verified {
	font-family: 'Rubik';
	font-weight: 400;
	font-size: 11px;
	color: #ff9900;
}

.verified {
	margin-top: 2px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.verified__icon {
	margin-left: 5px;
}

.item__rarity {
	margin-top: 8px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.rarity__title {
	font-family: 'Rubik';
	font-weight: 400;
	font-size: 14px;
}

.rarity__badge {
	width: 90px;
	height: 27px;

	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Rubik';
	font-weight: 400;
	font-size: 11px;
	
	border: 1px solid #ffc107;
	border-radius: 7px;
}

.item__price {
	margin-top: 5px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.price__title {
	font-family: 'Rubik';
	font-weight: 400;
	font-size: 14px;
}

.price__tag {
	width: 76px;
	height: 27px;

	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Rubik';
	font-weight: 400;
	font-size: 11px;
	border: 1px solid #ffc107;
	border-radius: 7px;
	background-color:#fdd446;
}

.item__buy {
	margin-top: 8px;
	display: flex;
	align-items: center;
	justify-content: center;

	width: 183px;
	height: 37px;
	background-color: #fdd446;
	border-radius: 15px;
}

.buy_button {
	text-align: center;
	width: 100%;
	font-family: 'Istok Web';
	font-weight: 400;
	font-size: 17px;
	color: #000;
}



.pagination__container {
	margin-top: 30px;
}

.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	list-style-type: none;
	padding: 0;
}

.pagination a {
	color: black;
	float: left;
	padding: 8px 10px;
	text-decoration: none;
	transition: background-color .3s;
	margin: 0 4px;
	width: 30px; 
  height: 30px;
	border-radius: 50%;
	background-color: #f0f0f0; 
}


.pagination a:hover:not(.active) {
	background-color: #ddd;
	color: black;
}


.pagination a.active {
	background-color: #fbc02d;
	color: white;
	border-radius: 50%;
}

.pagination a:first-child, .pagination a:last-child {
	border-radius: 5px; 
	background-color: transparent; 
}



.footer {
	background: #FDD446;
	padding-top: 25px;
	padding-bottom: 20px;
	margin-top: 80px;
}
.footer__container {

}
.footer__body {
}
.body__footer {
	display: flex;
	gap: 30px;
}
.body-footer__column {
	display: flex;
	flex-direction: column;
	/* justify-content: center;
	align-items: center; */
}
.body-footer__menu {

}
.menu-footer {
	display: flex;
	justify-content: space-between;
	gap: 80px;
}
.menu-footer__column {

}
.menu-footer__title {
	font-family: 'Istok Web';
	font-size: 20px;
	font-weight: 700;
	color: #000;
	margin-bottom: 20px;
}
.menu-footer__list {

}
.menu-footer__item {
	margin-bottom: 17px;
}
.menu-footer__link {
	font-family: 'Rubik';
	font-size: 18px;
	font-weight: 400;
	color: #000;
}

.body-footer__social {

}
.social-footer {

}
.social-footer__items {
	display: flex;
}
.social-footer__item {
	margin-top: 10px;
	margin-right: 10px;
}

.body-footer__star {
	text-align: center;
	position: relative;
}

.star__line {
	position: absolute;
  top: 38%; 
  left: 0;
  right: 0;
  border: none;
  height: 1px;
  background-color: #333;
  margin: 0; 
}

.footer__copy {
	margin-top: 10px;
	text-align: center;
	font-family: 'Rubik';
	font-size: 18px;
	font-weight: 400;
	color: #000;
}